h1 {
  color: red;
  text-align: center;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}

.about {
  font-weight: bold;

}

.word-type {
  font-style: italic;
  color: blue;

}

.sidebar {
  width: 50%;
  float: left;
  background-color: purple;
}

.column {

 width: 250px;
 float: right;
 background-color: green;

}

.box {
  border: 5px solid black;
  padding: 10px;
  background-color: yellow;
  margin: 20px;


}

.box p a {
  font-style: italic;
}
